<div id="map-canvas" ng-init="mapInit();"/>

<div class="btn-group">
  <button type="button" class="btn" ng-click="start()">Start</button>
  <button type="button" class="btn btn-default" ng-click="stop()">Stop</button>
  <table class="table table-striped" ng-init="startTimer()" class="example-animate-container">
      <tr ng-repeat="item in data" class="animate-repeat">
        <td>{{item._id}}</td>
        <td>{{item.stanox}}</td>
        <td>{{item.msg_type}}</td>
        <td>{{item.updated}}</td>
        <td>{{item.event_type}}</td>
        <td>{{item.ne}}</td>
        <td>{{item.variation_status}}</td>
        <td>{{item.direction_ind}}</td>
        <td>{{item.latlng}}</td>
      </tr>
  </table>
</div>
