<div class="input-group">
    <ul class="list-inline">
        <li ng-repeat="td in tds" class="">
            <input type="checkbox" ng-model="td.include" value="{{td._id}}">{{ td._id }} <span class="badge">{{ td.count }}</span>
        </li>
    </ul>
    <button class="button" ng-click="go()">Go</button>
</ul>